.Person {
  width: 60%;
  margin: 1rem auto;
  border: 1px solid #c0c0c0;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}

@media (min-width: 500) {
  .Person {
    width: 500px;
  }
}
