.Cockpit button {
  background-color: green;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
  color: #fff;
}

.Cockpit .Red {
  background-color: red;
}

.Cockpit .Red:hover {
  background-color: salmon;
}

.Cockpit button:hover {
  background-color: lightgreen;
  color: black;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}
